// $bg-primary : #ADFF2F;
// $primary : 	#DDA0DD;
// $btn-text : white;
// $primary : #FFB9B9;
// $secondary : #FFDDD2;
// $warning : #FFACC7;
$primary : 	#DDA0DD;
$warning : #72b87e;
// $warning : #0c2b44;
$font-family-sans-serif: "Poppins",
sans-serif;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "@fontsource/poppins";